    {% block footer %}
          <div class="footer-copyright grey lighten-3">
            <div class="container">
              <span class="grey-text text-darken-1">© 2019 Copyright {% include "_brandname.html" %}</span>
              <a href="" class="waves-effect waves-light right"><i class="fab fa-youtube fa-fw"></i> YouTube</a>
              <span class="right">&nbsp;&nbsp;&nbsp;</span>
              <a href="" class="waves-effect waves-light right"><i class="fab fa-linkedin fa-fw"></i> Linkedin</a>
            </div>
          </div>
    {% endblock %}