{% extends "base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

<style>
    input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
    border-radius: 0; /* iOS */
    border: 2px solid #e0e0e0; /* 1 */
    background: currentColor; 
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 30px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #26a69a;
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #999;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 30px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #26a69a;
    box-sizing: border-box;
}
</style>

<main class = "center-align">
    <h5 class="">Enter a new quote</h5> 
    <div class="container">
        <div class="card-panel hoverable grey lighten-4 row">
            <form id="form" class="" method="POST" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col s12 l6 left-align">
                        <label>{{ scheduleform.saleprice.label }}</label>
                        <div class="input-field">
                            {{ scheduleform.saleprice.errors }}
                            {{ scheduleform.saleprice }}
                            <output for="range" id="salepriceoutput"></output>
                    </div>
                    </div>
                    <div class="col l6 s12 left-align">
                        <label>{{scheduleform.rv.label}}</label>
                        <div class="input-field">
                            {{ scheduleform.rv.errors }}
                            {{scheduleform.rv}}
                            <output for="range" id="rvoutput"></output>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col s12 l6 left-align">
                        <label>Financial steps</label>
                    </div>
                </div>
                {{ formset.management_form }}

                {% for form in formset %}
                    <div class="row form-row">
                        <div class="col s12 l2">
                            <div class="input-field step mode">
                                    {{form.mode}}
                            </div>
                        </div>
                        <div class="col s12 l2 step">
                            <div class="input-field">
                                    {{form.number}}
                            </div>
                        </div>
                        <div class="col s12 l2 step">
                            <div class="input-field">
                                {{form.periodicity}}
                            </div>
                        </div>
                        <div class="col s12 l3 step stepamount">
                            <div class="input-field">
                                {{form.amount}}
                            </div>
                            <output for="range" class="output"></output>
                        </div>
                        <div class="col s12 l1">
                            <div class="input-field">
                                <button class="btn add-form-row btn-floating">+</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <div class="col s12 l6 text-bold">
                        <h5 id="extendedresult">Main rent is of : <span id="result"></span><h5>
                     </div>
                    <div class="col s12 l6 right-align">
                        </p><a id="calculatebutton" class="btn-floating waves-effect waves-light"><i class="material-icons">refresh</i><a> <button class="btn-floating"><i class="material-icons">save</i></button></p> 
                    </div>
                </div>
            </form>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row result">
            <div class="col s12 l12">
                <span class="card-title teal-text">Rent</span>
                <div class="card-content">
                    <canvas id="mini-bar-chart-echvalue" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        <div class="row result">
            <div class="col s12 l12">
                <span class="card-title teal-text">Outstanding</span>
                <div class="card-content">
                    <canvas id="mini-bar-chart-crdvalue" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>      
    </div>
</main>


{% else %}
<h5 class="center-align">Merci de vous <a href="{% url 'login' %}" >identifier </a>pour accéder à cette page.</h5>
{% endif %}

{% endblock %}

{% block extrascripts %}


<!-- External libraries -->

<!-- ChartJS -->
<script src="{% static 'js/Chart.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>


<!-- Initialization script -->
<script src="{% static 'js/admin.js' %}"></script>

<script src="{% static 'js/init.js' %}"></script>


<script>
    $(document).ready(function(){
        //Affichages à l'ouverture
        $('#extendedresult').hide();
        $('.stepamount').hide();
        $('.stepamountlabel').hide();
        $('.result').hide();
        saleprice = $('#saleprice').val();
        $('#salepriceoutput').val(thousands_separators(saleprice)+" €");
        rv = $('#rv').val();
        $('#rvoutput').val(thousands_separators(rv)+" €");
        //Mise en forme des résultats en cas de changement de saleprice
        $('#saleprice').on("input", function() {
            $('#extendedresult').hide();
            $('.result').hide();
            $('#calculatebutton').click();
            $('#salepriceoutput').val(thousands_separators(this.value)+" €");
        }).trigger("change");
        //Mise en forme des résultats en cas de changement de rv
        $('#rv').on("input", function() {
            $('#extendedresult').hide();
            $('.result').hide();
            $('#calculatebutton').click();
            $('#rvoutput').val(thousands_separators(this.value)+" €");
        }).trigger("change");
        //Masquage du résultat en cas de changement dans les steps
        $(document).on('change', '.step', function(e){
            e.preventDefault();
            $('#extendedresult').hide();
            $('.result').hide();
            $('#calculatebutton').click();
            return false;
        });
        //Masquage dynamique de la saisie des montants en fonction du choix du mode
        $(document).on('change', '.mode', function(e){
             e.preventDefault();
            modevalue = $(this).closest('.row').find('.mode select').val();
            if (modevalue == 0) {$(this).closest('.row').find('.stepamount').hide();$('.stepamountlabel').hide();}
            if (modevalue == 1) {$(this).closest('.row').find('.stepamount').show();$('.stepamountlabel').show();}
            return false;
        });

    // Initialisation des histogrammes




        //Fonction de mise en forme du résultat
        function thousands_separators(num)
        {
            var num_parts = num.toString().split(".");
            num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            return num_parts.join(".");
        }
    });
</script>

<script>
    // Ajout et suppression de steps
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                // positionnement des valeurs du step suppélemnaire à zéro
                $(this).attr({'name': name, 'id': id}).val(0).removeAttr('checked');
                // masquage de la zone amount si le step est cloné à partir d'un step avec amount affiché
                modevalue = $(this).closest('.row').find('.mode select').val();
                if (modevalue == 0) {$(this).closest('.row').find('.stepamount').hide();}
                if (modevalue == 1) {$(this).closest('.row').find('.stepamount').show();}
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .addClass('red')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    // Bouton ajout step supplémentaire avec désactivation et réactivation du select de Materialize
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        $('#extendedresult').hide();
        $('select').formSelect('destroy');
        cloneMore('.form-row:last', 'form');
        $('select').formSelect();
        $('#calculatebutton').click();
        return false;
    });
    // Bouton suppression step 
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        $('#extendedresult').hide();
        deleteForm('form', $(this));
        $('#calculatebutton').click();
        return false;
    });

</script>

<script>
    // Calcul financier via Ajax
    $(document).ready(function(){
        //Django basic setup for accepting ajax requests.
        function getCookie(name) {
            var cookieValue = null;
            if(document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if(cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
            }	
        $.ajaxSetup({
			global: true,
			beforeSend: function(xhr, settings) {
				if(!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
					xhr.setRequestHeader("Content-Type", 'application/x-www-form-urlencoded; charset=UTF-8');
				}
			}
		});
        //Appel ajax pour calcul financier du loyer
        $("#calculatebutton").click(function( event ) {
            //console.log( $( "form" ).serializeArray() );
            var str = $( "form" ).serializeArray();
            str = (JSON.stringify(str));
            $.post('../../quote/ajax/',{str: str,},
                function(data) {
                    updaterent(data);$('#extendedresult').show();
                    event.preventDefault();
                    $('.result').show();
                //Affichage des histogrammes
                //dataech = JSON.parse($('#echvalue').html());
                var miniBar = $('#mini-bar-chart-echvalue');
                var miniBarChart = new Chart(miniBar, {
                type: 'bar',
                data: {
                    labels: data['echlabel'],
                    datasets: [{
                        data: data['echvalue'],
                    }]
                },
                options: flushChartOptions
                });
                //datacrd = JSON.parse($('#crdvalue').html());
                var miniBar2 = $('#mini-bar-chart-crdvalue');
                var miniBarChart = new Chart(miniBar2, {
                type: 'bar',
                data: {
                    labels: data['crdlabel'],
                    datasets: [{
                        data: data['crdvalue'],
                    }]
                },
                options: flushChartOptions
                });

            });
        });
        // Fonctions
		function updaterent(data){$('#result').html(thousands_separators(data['rent'])+" €");}
        function thousands_separators(num)
            {
                var num_parts = num.toString().split(".");
                num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                return num_parts.join(".");
            }
    });
</script>

{% endblock %}