{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{% block content %}
<main class = "center-align">
    <h5 class="red-text text-darken-2">Connectez vous</h5>
    <div class="container">
      <div class="card-panel hoverable grey lighten-4 row">
      <form class="col s12" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class=" {% if form.non_field_errors %} has-error {% endif %}">{{ error }}</div>
        {% endfor %}
        <div class='row'>
          <div class='input-field'>
              {% for error in form.username.errors %}
                {{ error }}
              {% endfor %}
              {{ form.username|attr:"placeholder:Identifiant"|attr:"type:email"|attr:"class:validate" }}
            <label for='email'>Entrez votre identifiant </label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field'>
              {% for error in form.password.errors %}
                {{ error }}
              {% endfor %}
              {{ form.password|attr:"placeholder:Mot de passe"|attr:"type:password"|attr:"class:validate" }}
            <label for='password'>Entrez votre mot de passe</label>
          </div>
        </div>
        <div class='row'>
          <button type='submit' name='btn_login' class='btn waves-effect'>Connexion</button>
        </div>     
      </form>
    </div>  
  </div>  
</main>  
{% endblock content %}