{% load static %}

<!-- Site navbar -->
  {% block navbar %}

  <!-- Alignement vertical logo -->
    <style>
      .brand-logo {
        display: inline-block;
        height: 100%;
        }
      .brand-logo>img {
          vertical-align: middle
      }
  </style>

  <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-2">   
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          {% include "_brandname.html" %}
          <ul class="right hide-on-med-and-down">
              <li {% if request.resolver_match.url_name  == 'quote' %}class="active"{% endif %}><a href="{% url 'quote:create_quote' %}">Quote</a></li>
              {% if user.is_authenticated %}
              {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %}
              {% endif %}
              {% if user.is_anonymous %}
              <li>
                <a href="{% url 'login' %}" ><i class="material-icons">lock</i></a>
              </li>
              {% else %}
                <li>
                  <a href="{% url 'logout' %}" ><i class="material-icons">lock_open</i></a>
                </li>
              {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    <ul id="slide-out" class="sidenav grey lighten-3">
      <li>
        <div class="user-view">
          <div class="background">
            <img class="responsive-img" src="{% static 'carousel1.jpg' %}" alt="">
          </div>
          <center>
          {% if user.is_authenticated %}
          <a href=""><span class="white-text name">Bienvenue {{ user.first_name }} !</span></a>
          {% else %}
          <a href=""><span class="white-text name">Bienvenue ! </span></a>
          {% endif %}
          <br>
        </center>
        </div>
      </li>
      <li><a class="sidenav-close red-text" href="#!"><i class="material-icons">close</i>Quitter</a></li>
      <hr>
      <li {% if request.resolver_match.url_name  == 'quote' %}class="active"{% endif %}><a href="{% url 'quote:create_quote' %}">Quote</a></li>
      {% if user.is_authenticated %}
      {% if user.is_staff %}
      <li><a href="{% url 'admin:index' %}"><i class="material-icons">build</i>Admin</a></li>
      {% endif %}
      <hr>
      <li><a class="red-text"  href="{% url 'logout' %}"><i class="material-icons">lock_open</i>Déconnexion</a></li>
      {% else %}
      <hr>
      <li><a class="green-text"  href="{% url 'login' %}"><i class="material-icons">lock</i>Connexion</a></li>
      {% endif %}
    </ul>

    {% endblock %}

    {% block extrascripts %}
    {% endblock extrascripts %}