{% extends "base.html" %}

{% block content %}


<main class = "center-align">
        <h5 class="">Quote list</h5>
            <div class="container">
                <div class="row">
                  <div class="col s12">
                <div class="card hoverable grey lighten-4 row">
                <table id="default-table-example" class="row-border" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>Reference id</th>
                            <th>Financed amount</th>
                            <th>Residual value</th>
                            <th>Link</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for schedule in schedule_list %}
                          <tr>
                            <td>{{ schedule.id }}</td>
                            <td>{{ schedule.saleprice }}</td>
                            <td>{{ schedule.rv }}</td>
                            <td><a href="{% url 'quote:detail_quote' schedule.id %}"><i class="material-icons">send</i></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    </div>
        </div>
        </div>
</main>
      
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

<script>
$(document).ready(function(){
    var table = $('#default-table-example').DataTable({
    //'ajax': 'https://api.myjson.com/bins/1us28',
    'language': {
      'search': '',
      'searchPlaceholder': 'Enter search term'
    },
    'order': [0, 'asc'],
    'dom': 'ft<"footer-wrapper"l<"paging-info"ip>>',
    'scrollY': '400px',
    'scrollCollapse': true,
    'pagingType': 'full',
    'drawCallback': function( settings ) {
      var api = this.api();

      // Add waves to pagination buttons
      $(api.table().container()).find('.paginate_button').addClass('waves-effect');

      api.table().columns.adjust();
    }
  });
});
</script>

{% endblock %}